body{
    
    background-color: rgb(150, 162, 168);
}
img{
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
h1{
    padding-left: 200px;
    padding-right: 100px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h3{
    padding-left: 50px;
}
h4{
    padding-left: 50px;
}
h5{
    padding-left: 70px;
    padding-right: 90px;
}