body{
    background-color: rgb(159, 164, 170);
}
img{
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
h1{
    padding-left: 200px;
    padding-right: 100px;
}
h2{
    padding-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h3{
    padding-left: 50px;
}
h4{
    padding-left: 50px;
}
h5{
    padding-left: 400px;
    padding-right: 400px;
}